@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Amarant;
}

body{
    
}

.imgheader{
    position: fixed;
    height: 40px;
    margin: 0px 5px 2px 5px;
}

.index {
    color: white;
    display: block;
    position: fixed;
    align-content: center;
    background-color: #222222;
    width: 100%;
    height: 40px;
    /* border-bottom: 1px solid lightgray; */
    /* box-shadow: 5px 0px 5px #222222; */
}

.ind {
    float: right;
    text-align: right;
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    transition: .3s;
}

.ind:hover {
    background-color: lightgray;
    color: black;
    border-bottom: 2px solid #555555;
}

.ind:active {
    background-color: white;
    color: white;
    height: 20px;
    border-bottom: 0px;
}